img {
  max-width: 700px;
}

body{
  display: flex;
  flex-direction: column;
}

header {
	display: flex;
}

#intro {
	display: flex;
}

#signup {
  display: flex;
}

header img {
  width: 50px;
}

.push {
	margin-left: auto;
}

.card-wrapper {
	display: flex;
}

.card img {
  width: 100px;
}