.upper-wrapper{
  width: 800px;
  margin: auto;
}

.lower-wrapper{
  width: 600px;
  margin: auto;
}

body{
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 18px;
}

header, #intro, footer{
  background-color: #1f2937;
  color: #f9faf8;
}

.intro-desc, header a {
	color: #e5e7eb;
	font-size: 18px;
	text-decoration-line: none;
}

.intro-title {
	font-size: 48px;
	font-weight: bold;
}

header .upper-wrapper {
	display: flex;
  align-items: center;
}

#intro .upper-wrapper {
	display: flex;
	justify-content: space-between;
}

#intro img{
  width: 200px;
}

#intro a, #signup button{
  background-color: #3882f6;
	border: 1px solid #e5e7eb;
  color: #e5e7eb;
  text-decoration-line: none;
}

#testimonial {
	color: #1f2937;
  background-color: #e5e7eb;
}

#signup {
	background-color: #3882f6;
	color: #e5e7eb;
}

.testimonial-text {
  font-size: 36px;
	font-style: italic;
}

.testimonial-owner {
  text-align: right;
  font-weight: bold;
}

#signup .lower-wrapper {
	display: flex;
	justify-content: space-between;
}

footer {
  text-align: center;
}

header img {
  width: 50px;
}

.push {
	margin-left: auto;
}

.example-title {
	text-align: center;
	font-size: 36px;
	font-weight: bold;
}

.card-wrapper {
	display: flex;
	justify-content: center;
}

.card img {
  width: 100px;
}

.signup-wrapper {
  display: flex;
}

#signup button {
	align-self: center;
}